/* Write your code here */
.app-container {
  display: flex;
  height: 100vh;
  background-image: url('https://assets.ccbp.in/frontend/react-js/reviews-bg.png');
  background-size: cover;
  justify-content: center;
  align-items: center;
}
.arrows-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.review-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.button {
  background-color: transparent;
  border: 0px;
}
